.todo-details-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.title {
  margin-left: 10px;
}

.title-with-strike-through {
  margin-left: 10px;
  text-decoration: line-through;
}
